@use 'mixins/media-query' as mq;

:host {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 24px;
    

    @include mq.media-query(sm) {
        flex-direction: row;
    }
    
    .card {
        flex: 1;
    }
}