<app-balance [transactions]="transactions()"></app-balance>

@defer(when canLoadComponent(); on interaction(interactionClock)) {
    <app-pie-chart [config]="chartConfig()"></app-pie-chart>
} @loading(minimum 2s) {
    <p>Carregando  conteúdo</p>
} @placeholder(minimum 1s) {
    <div>
        <button>Clique inválido</button>
    </div>
    
    <div>
        <button #interactionClock>Clique usando interaction</button>
    </div>

    <div>
        <button (click)="canLoadComponent.set(true)">Clique usando when</button>
    </div>
} @error {
    <p>Erro ao carregar o componente!</p>
}