@use '../variables' as vars;

.container {
    display: flex;
    justify-content: center;

    padding-top: 24px;
    
    .container-content {
        width: 100%;
        max-width: vars.$content-width;
    }
}