<div class="actions">
    <app-search class="search" [(searchText)]="searchText"></app-search>
    <a class="add-transaction" matButton="filled" routerLink="create/new">Criar transaction</a>
</div>

<app-transactions-container class="transactions" [transactions]="items()">
    <ng-template #itemTemplate let-item="item">
        <app-transaction-item 
            class="transaction" 
            [transaction]="item"
            (edit)="edit($event)"
            (remove)="remove($event)"
        ></app-transaction-item>
    </ng-template>

    <ng-template #noItemsTemplate>
        <app-no-transaction/>
    </ng-template>
    <app-no-transaction/>
</app-transactions-container>
